@font-face {
  font-family: "MyFont";
  src: url('Myfont-Regular.woff') format('woff')
}

*{
  font-family: "MyFont";
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;

  background-color: #00a30849;
  animation: bgColor 20s infinite ease-in-out;
}

.centeredDiv
{
  display:flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
}

@keyframes bgColor {
  12.5% {
    background-color: #00a30849;
  }
  25% {
    background-color: #14c21d77;
  }
  37.5% {
    background-color: #6cdd2b77;
  }
  50% {
    background-color: #b7dd2b31;
  }
  62.5% {
    background-color: #b7dd2b7e;
  }
  75% {
    background-color: #6cdd2b65;
  }
  87.5% {
    background-color: #14c21d8f;
  }
  100% {
    background-color: #00a30849;
  }
}

#guessBarDiv{
  display: flex;
  margin: 70px 0 15px 0;
  font-family: "Great+Vibe";
}

#submitButtonDiv{
  display:flex; 
  margin-top:15px;
}

.myButtons{
  margin:auto;
  font-size:40px;
  border-radius:10px;
  transition: background-color .3s ease-in-out;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 3s linear;
}

.myButtons:hover:active{
  background-color: #5c615e49;
}

.myButtons:hover:not(active){
  background-color: white;
}

.wrongFlash
{
  animation: wrongAnimation .5s ease-out, horizontal-shaking .3s;
}

.rightFlash
{
  animation: rightAnimation .5s ease-out;
}

.fadeOut
{
    display: block;
    animation: fadeOutAnimation 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes wrongAnimation {
  0%   {color:black;}
  50%  {color:red;}
  100%  {color:black;}
}

@keyframes rightAnimation {
  0%   {color:black;}
  50%  {color:green;}
  100%  {color:black;}
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}

#guessBar{
  margin:auto;
  font-size:60px;
  text-transform: uppercase;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 3s linear;
}

#imageHolder
{
  display: flex;
}

.imageHolder
{
  width: 800px;
  height: 800px;
  animation: 60s cubic-bezier(0,1.08,0,1.12) 3s 1 both running graphic, fadeInAnimation 1s;
  border-radius: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 3s ease-in;

  font-size: 50px;
  color: #edf2f4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photoTaker
{
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
}

@keyframes graphic {
  0%     { background-image: url( "usHike.png" )  }
  8%    { background-image: url( "usThirdDate.png"   )  }
  16%   { background-image: url( "herGrabbing.png" )  }
  24%   { background-image: url( "usLowerSprings.png" )  }
  32%   { background-image: url( "usSternGrove.png" )  }
  40%   { background-image: url( "usCamping.png" )  }
  48%   { background-image: url( "usByRiver.png" )  }
  56%   { background-image: url( "usChristmas.png" )  }
  64%   { background-image: url( "usCats.png" )  }
  72%   { background-image: url( "usPolaroid.png" )  }
  80%   { background-image: url( "usMonkeyRock.png" )  }
  90%   { background-image: url( "usMonkeyRock.png" )  }
  100%   { background-image: none  }
}

.effect-text {
  font-size: 50px;
  color: #edf2f4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer
}

.tiny-heart {
  position: absolute;
  opacity: 0;
  background-color: #D90429;
  box-shadow: 0px 0px 50px 4px transparentize(#EF233C, .3);
  animation: animated-heart infinite ease-in;
  &:before, &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D90429;
  }
  &:before {
    transform: translateX(-50%);
  }
  &:after {
    transform: translateY(-50%)
  }
}

@keyframes animated-heart {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(45deg)
  }
  50% {
    opacity: 1;
    transform: translate(0, -40%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}

/*Preload images*/
body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
   content:url(usHike.png) url(usThirdDate.png) url(herGrabbing.png) url(usLowerSprings.png) url(usSternGrove.png) url(usCamping.png) url(usByRiver.png) url(usChristmas.png) url(usCats.png) url(usPolaroid.png) url(usMonkeyRock.png);
}